//
// Styles for OA Navbar
// --------------------------------------------------
.navbar-fixed-top, .navbar-fixed-bottom {
  z-index: 1000; /* needs to be less than 1001 which is panelizer popup dialog */
}

.drupal-navbar .navbar-tray {
  z-index: 1000;
}

.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  display: none !important;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: auto;
}

#admin-menu, #admin-menu .dropdown {
  z-index: 1001;
}

#oa-navbar {
  position: fixed;
  top: 0;
  .navbar-inner {
    border: 0;
    padding: 0;
    .btn {
      margin: 0;
    }
  }
  .panel-panel-inner {
    min-height: 0;
  }
  .panel-panel {
    @include box-sizing("border-box");
    padding: 0;
    //    padding: 0 20px;
    margin: 0 0 0 -5px;
    min-height: 0;
    .panel-pane {
      margin: 0 0 0 5px;
      padding: 5px 0;
    }
    .pane-oa-navigation {
      width: 100%;
      border-bottom: 1px solid #676767;
      padding: 5px $gridGutterWidth 0;
      background-color: #003853;
      .oa-menu-banner {
        padding-bottom: 0;
      }
      .pane-content {
        ul.nav {
          > li {
            > a {
              padding: 6px 15px 6px;
            }
          }
        }
      }
    }
    .pane-oa-toolbar-oa-toolbar-menu-button {
      z-index: 100;
    }
    .pane-oa-toolbar-oa-breadcrumb {
      margin-top: -5px;
      margin-bottom: -5px;
      float: none !important;
      border-bottom: solid 1px #333;
      ul.oa_toolbar {
        margin: 0;
        padding: 0;
        li.btn-group {
          margin: 0;
          height: 42px;
          > .btn {
            font-size: 16px;
            height: 32px;
            line-height: 32px;
            float: left;
            background: none;
            border: 0;
            @include border-radius(0);
            @include box-shadow(none);
            &:hover {
              background: none;
            }
            &.btn-home {
              font-size: 24px;
            }
          }
          > .dropdown-toggle {
            height: 25px;
            line-height: 25px;
            margin: 5px 10px 5px 0;
            padding: 4px 8px 30px 8px;
            background: $grayDark;
            @include border-radius(3px);
            &:hover {
              background: $grayDark;
            }
            .caret {
              vertical-align: middle;
              margin: 0;
              border-top: 6px solid $white;
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
            }
          }
          &:after {
            content: url("../images/menu-divider.png");
            width: 10px;
            height: 42px;
            display: inline-block;
          }
          ul.dropdown-menu {
            li {
              h3 {
                font-size: 1.2em;
                margin: 0;
              }
              a.more-link {
                font-style: italic;
              }
            }
          }
        }
      }
      @include breakpoint('md') {
        float: left !important;
        border-bottom: none;
      }
      @include breakpoint('lg') {
    float: left !important;
      border-bottom: none;
    }
    }
    .pane-oa-favorites-favorites-button {
      ul#oa_favorites {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
        }
      }
    }
    .pane-oa-tour-custom-pane {
      ul#oa_tours {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
        }
      }
    }
    .pane-oa-toolbar-search {
      //float: left !important;
      [name=searchOptions] {
        position: relative;
      }
      form {
        margin: 0;
        .input-append {
          margin: 0;
        }
        .search-text {
          width: 150px;
        }
        .btn-group {
          .btn {
            float: left;
            clear: none;
          }
        }
      }
      @include breakpoint('md') {
        float: right !important;
      }
      @include breakpoint('lg') {
        float: right !important;
      }
    }
    .pane-add-space-content {
      .btn {
        position: relative;
        text-indent: -9999em;
        line-height: 2px;
        .caret {
          background: transparent url("../images/navbar-icons.png") no-repeat 2px -1px;
          margin: 0;
          width: 18px;
          height: 18px;
          border: 0;
          display: block;
        }
      }
    }
    .pane-oa-space-banner {
      clear: both;
      padding-bottom: 0;
      margin-top: -5px;
      background-color: #003853;
    }
    .pane-oa-toolbar-oa-user-badge {
      .oa-dropdown {
        margin: 0;
        #user-badge-dropdown {
          overflow: hidden;
          img {
            width: auto;
            height: 29px;
            margin: -5px -12px -5px 5px;
          }
        }
      }
    }
  }
}

// Open Atrium Navbar
// --------------------------------------------------

body.admin-menu #oa-navbar {
  top: 25px;
}

#main-wrapper {
  @include breakpoint('xs') {
    .oa-banner {
      display: none;
    }
  }
}

// OA Space Menu
.navbar.oa-space-menu {
  margin-bottom: 0;
  .navbar-inner {
    border: 0;
    @include border-radius(0);
  }
}

// OA Responsive Navbar
// --------------------------------------------------
#oa-responsive-regions-navbar {
  .navbar-inner {
    .btn-top {
      float: left;
      &.btn-active {
        @include transform(none);
      }
    }
  }
}

//OA Mobile Menu Makeover
// --------------------------------------------------
@media (max-width: 767px) {
  #oa-navbar{
    .dropdown-menu{
      float: left;
      position: static;
    }
    #oa-user-badge{
      .dropdown{
        width:262px;
      }
      .dropdown-toggle{
        width:100%;
      }
    }
    #oa_breadcrumb{

      vertical-align: top;
      .oa-breadcrumb{
        width:100%;
        height:auto;
        .dropdown-menu{
          width: 262px;
        }
      }
    }
    .oa-navigation{
      .main-menu{
        .navbar-nav{
          width:100%;
        }
      }
    }
    .moscone-footer{
      display: none;
    }
  }
  #oa-responsive-regions-navbar{
    display: none;
  }
}