// Mixin
// SASS Mixins
// --------------------------------------------------

// Breakpoints
// --------------------------------------------------
@mixin oa-breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 979px) {
      @content;
    }
  } @else if $point == mini-tablet {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == phone {
    @media (max-width: 480px) {
      @content;
    }
  }
}

// Utilities
// --------------------------------------------------
@mixin clear-shadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-shadow: none;
  box-shadow: none;
}

// Gradients
@mixin ctb-gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: mix($startColor, $endColor, 62.5%);
  background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
  background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken($startColor, 1%)}', endColorstr='#{darken($endColor, 1%)}', GradientType=0); // IE9 and down
}