//
// Styles for OA Navbar
// --------------------------------------------------
#oa-navbar {
  position: fixed;
  top: 0;
  .navbar-inner {
    border: 0;
    .btn {
      margin: 0;
    }
  }
  .panel-panel {
    padding: 10px 0;
    margin: 0 0 0 -10px;
    .panel-pane {
      margin: 0 0 0 10px;
    }
    .pane-oa-dashboard-oa-toolbar-menu-button {
      #toolbar-menu-button {
        margin: 0;
      }
    }
    .pane-oa-dashboard-oa-breadcrumb {
      margin-top: -10px;
      margin-bottom: -10px;
      ul.oa_toolbar {
        margin: 0;
        padding: 0;
        li.btn-group {
          margin: 0;
          height: 50px;
          > .btn {
            font-size: 16px;
            height: 42px;
            line-height: 42px;
            float: left;
            background: none;
            border: 0;
            @include border-radius(0);
            @include box-shadow(none);
            &:hover {
              background: none;
            }
            &.btn-home {
              font-size: 24px;
            }
          }
          > .dropdown-toggle {
            height: 25px;
            line-height: 25px;
            margin: 10px 10px 10px 0;
            padding: 4px 8px;
            background: $grayDark;
            @include border-radius(3px);
            &:hover {
              background: $grayDark;
            }
            .caret {
              vertical-align: middle;
              margin: 0;
              border-top: 6px solid $white;
              border-right: 6px solid transparent;
              border-left: 6px solid transparent;
            }
          }
          &:after {
            content: url("../images/menu-divider.png");
            width: 10px;
            height: 50px;
            display: inline-block;
          }
          ul.dropdown-menu {
            li {
              h3 {
                font-size: 1.2em;
                margin: 0;
              }
              a.more-link {
                font-style: italic;
              }
            }
          }
        }
      }
    }
    .pane-oa-favorites-favorites-button {
      ul#oa_favorites {
        margin: 0;
        li {
          margin: 0;
        }
      }
    }
    .pane-oa-toolbar-search {
      form {
        margin: 0;
        .input-append {
          margin: 0;
        }
        .search-text {
          width: 150px;
        }
        .btn-group {
          .btn {
            float: left;
            clear: none;
          }
        }
      }
    }
    .pane-add-space-content {
      .btn {
        position: relative;
        text-indent: -9999em;
        line-height: 2px;
        .caret {
          background: transparent url("../images/navbar-icons.png") no-repeat 2px -1px;
          margin: 0;
          width: 18px;
          height: 18px;
          border: 0;
          display: block;
        }
      }
    }
    .pane-oa-dashboard-oa-user-badge {
      .oa-dropdown {
        margin: 0;
        #user-badge-dropdown {
          overflow: hidden;
          img {
            width: auto;
            height: 29px;
            margin: -5px -12px -5px 5px;
          }
        }
      }
    }
  }
}

// Open Atrium Navbar
// --------------------------------------------------
#oa-navbar {
  @include breakpoint('tablet') {
    .navbar-inner {
      padding-top: 0;
      padding-bottom: 0;
    }
    .panel-panel {
      .pane-oa-dashboard-oa-breadcrumb {
        float: none;
        border-bottom: 1px solid #676767;
        margin-bottom: 10px;
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 $gridGutterWidth;
      }
      .pane-oa-toolbar-search {
        float: left;
      }
    }
  }
  @include breakpoint('mini-tablet') {
    padding-left: 20px;
    padding-right: 20px;
    .navbar-inner {
      padding-top: 0;
      padding-bottom: 0;
    }
    .panel-panel {
      .pane-oa-dashboard-oa-breadcrumb {
        float: none;
        border-bottom: 1px solid #676767;
        margin-bottom: 10px;
        margin-left: -20px;
        margin-right: -20px;
        padding: 0 $gridGutterWidth;
      }
      .pane-oa-toolbar-search {
        float: left;
      }
    }
  }
  @include breakpoint('phone') {
    position: static;
    margin: 0 -20px;
    padding-left: 0;
    padding-right: 0;
    .panel-panel {
      margin: 0;
      .panel-pane {
        margin-left: 5px;
      }
      .pane-oa-dashboard-oa-toolbar-menu-button {
        display: none;
      }
      .pane-oa-dashboard-oa-breadcrumb {
        margin-left: -20px;
        margin-right: -20px;
        ul.oa_toolbar {
          li.btn-group {
            float: none;
            display: block;
            margin: 0 0 1px;
            position: relative;
            &:after {
              display: none;
            }
            > .btn {
              display: block;
              float: none;
            }
            > .dropdown-toggle {
              position: absolute;
              right: 0;
              top: 10px;
              margin: 0;
              z-index: 100;
            }
            .dropdown-menu {
              width: 100%;
            }
          }
        }
      }
      .pane-oa-dashboard-oa-user-badge {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      .pane-oa-toolbar-search {
        margin-left: 0;
        form {
          .search-text {
            width: 80px;
          }
        }
      }
    }
  }
}

// OA Responsive Navbar
// --------------------------------------------------
#oa-responsive-regions-navbar {
  .navbar-inner {
    .btn-top {
      float: left;
      &.btn-active {
        @include transform(none);
      }
    }
  }
}
